<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862039416371-bp6s4vqqbqn18q9hi2k361m9ffq56642.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862039416371-bp6s4vqqbqn18q9hi2k361m9ffq56642</string>
	<key>API_KEY</key>
	<string>AIzaSyBGsUVka5H4lXQJd3xSdydz8n-NOJHjk7w</string>
	<key>GCM_SENDER_ID</key>
	<string>862039416371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>white-zebra.app</string>
	<key>PROJECT_ID</key>
	<string>white-zebra-5096f</string>
	<key>STORAGE_BUCKET</key>
	<string>white-zebra-5096f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862039416371:ios:1639594f9a27191b9a4d46</string>
	<key>DATABASE_URL</key>
	<string>https://white-zebra-5096f.firebaseio.com</string>
</dict>
</plist>